h6 {
    padding: 21px;
    margin: 10px;
    background-color:#34495e;
    border-radius: 20px;
    color: aliceblue;
}

h5 {
    padding: 21px;
    margin: 10px;
    background-color: red;
    border-radius: 20px;
    color: black;

}

h4 {
    padding: 21px;
    margin: 10px;
    background-color: red;
    border-radius: 20px;
    color: blue;

}

.image_container img {
    max-width: 350px;
}